:root,
::backdrop {
	--max-content-width: 70rem;
	--width-3-6: calc((var(--max-content-width) / 6) * 3);
	--width-2-3-fluid: min((var(--max-content-width) / 3) * 2, 100%);

	--clr-p-400-solid: hsl(0, 94%, 66%);
	--clr-p-400-alpha: 0, 94%, 66%;
	--clr-p-500-solid: hsl(231, 69%, 60%);
	--clr-p-500-alpha: 231, 69%, 60%;
	--clr-p-600-solid: hsl(93, 47%, 48%);

	--clr-n-100-solid: hsl(0, 0%, 100%);
	--clr-n-200-solid: hsl(0, 0%, 97%);
	--clr-n-400-solid: hsl(229, 8%, 60%);
	--clr-n-700-solid: hsl(0, 0%, 24%);
	--clr-n-800-solid: hsl(229, 31%, 21%);
	--clr-n-800-alpha: 229, 31%, 21%;

	--logo-size: 9.25rem;
	--logo-aspect-ratio: 148 / 25;
	--logo-color: var(--clr-n-800-solid);
	--logo-icon-color: var(--clr-p-500-solid);

	--header-p-top: 3rem;
	--logo-height: calc((var(--logo-size) / 148) * 25);

	--bg-width: 125%;
	--bg-height-fix: 22rem;
	--rounded-left: 100vw 0 0 100vw;
	--rounded-right: 0 100vw 100vw 0;

	--time: 0.1s;
	--easing: ease-in;

	--btn-radius: 0.25rem;
	--btn-border-thickness: 0.1rem;
	--btn-p-block: 1em;
	--btn-p-inline: 1.5em;
}
