.logo-link {
	display: block;
	width: var(--logo-size);
	aspect-ratio: var(--logo-aspect-ratio);
	outline: none;
}
.logo-link__img {
	width: 100%;
	height: 100%;
}
/* |||||||||| */
.img-bg {
	position: relative;
	display: grid;
	min-width: 100%;
	min-height: 100%;
}
.img-bg::before {
	position: absolute;
	content: "";
	width: var(--bg-width);
	background-color: var(--clr-p-500-solid);
	border-radius: var(--radius);
	z-index: -1;
}
/* |||||||||| */
.info-block {
	--gap-md: 1.35rem;
	--gap-lg: 2.15rem;

	max-width: var(--width-3-6);
}
.info-block > *:nth-child(2) {
	margin-top: var(--gap-md);
}
.info-block > *:nth-child(3) {
	margin-top: var(--gap-lg);
}
