.main-footer {
	--logo-color: var(--clr-n-100-solid);

	padding-block: 2rem;
	background-color: var(--clr-n-800-solid);
}

.main-footer__group {
	--gap: 4rem;

	display: flex;
	align-items: center;
	gap: var(--gap);
}

.main-footer__nav {
	flex: 1;
}
