.main-header {
	padding-top: var(--header-p-top);
}

.main-header__group {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.brand-logo:where(:hover, :focus-visible) {
	--logo-simbol-color: var(--clr-p-400-solid);
}

/* --- */
.header-placeholder {
	max-height: 0;
	overflow: hidden;
	margin-bottom: var(--logo-height);
}
