.sign-up {
	margin-top: 9.5rem;
	padding-block: 4.25rem;
	background-color: var(--clr-p-500-solid);
}

.sign-up__group {
	text-align: center;
	max-width: var(--width-3-7);
	gap: 2.25rem;
	padding-inline: 1rem;
}
