.sign-up {
	margin-top: 9.5rem;
	padding-block: 4.25rem;
	background-color: var(--clr-p-500-solid);
}

.sign-up__group {
	text-align: center;
	max-width: 38ch;
}

.sign-up__title {
	margin-block: 2.275rem;
}
