.cta {
	margin-top: 15.25rem;
	row-gap: 3.75rem;
}

.cards {
	--p-block: 2.5rem;

	padding-block: var(--p-block);
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 2rem;
	min-height: calc(100% + var(--p-block) * 2);
}
