.card {
	--size: 1.5rem;

	text-align: center;
	padding-block: var(--size);
	box-shadow: 0 0.5rem 1rem -0.25rem hsl(var(--clr-p-500-alpha), 0.15);
	border-radius: 1rem;
	overflow: hidden;
	transition: transform var(--time) var(--easing),
		box-shadow var(--time) var(--easing);
}

.card:where(:hover, :focus) {
	transform: scale(1.01);
	box-shadow: 0 0.5rem 2rem -0.25rem hsl(var(--clr-p-500-alpha), 0.15);
}

.card__top {
	padding-inline: var(--size);
}

.card__img {
	max-width: 6.25rem;
	margin: auto;
}

.card__txt {
	margin-top: 0.625rem;
}

.dots {
	margin-block: 2rem var(--size);
	width: auto;
	min-width: 100%;
}

.card .btn {
	width: calc(100% - var(--size) * 2);
}
